# Using Random Forest Algorithm to Predict Retail Purchase Patterns
## *by Charlie Glover, M.A.* 
## *June 1, 2017*

---
>## Abstract

>Big Data and specifically the ability to analyze vast amounts of data instantly is a key tool in helping companies position themselves for retail shelf space and customer sales. Accurate sales forecasts from distributors and retaileers, as well as actual point-of-sale (POS) data, are critical in helping determine production volumes, distribution and pricing strategy.

> Hence, the purpose of this project is to develop a statistical model that would allow a business to predict the likelihood of a customer purchasing a particular product so that the model can suggest the product to the customer. This will help in converting visits into tangible outcomes such as repeated purchases or predicting what products customes will purchase. To achieve this goal, I will use the Random Forest Algorithm for training and testing on a free transactional dataset downloaded from Tableau. The aim from using this algoritm is to discover relationships and patterns among purchases made by the customer over several transactions and to produce a suggestion matrix across all customers.

---
>## Motiviation:  "Everybody is coming, but No One is Buying"
    
>Having high foot or online traffic to your store is good, but every business needs customers to purchase product. Hence, the golden grail of any business is to try to figure out buying behaviors to convience customers to buy their business, product or service. This has created the biggest challenges for businesses who perform high volumes of data collecting about specific individuals or groups of customers that is both meaningful and actionable (affinity analysis). But the potential for using data collected is often limited either by “small data” (“data iceburg effect”) or is left unexplored. As a result, the intentions and reactions of individual customers can be overlooked.
        
>Enter the world of machine learning, where algorithms evolve from the study of pattern recognition and computational learning. According to Lisa Burton, co-founder and chief scientist with AdMass Inc., advertisers and e-commerce businesses have the highest potential gain from machine learning becaues of the ease of measurement and quickfeedback needed to train and improve machince learning algorithms (https://www.marketingprofs.com/articles/2017/32097/the-marketing-impact-of-ai-and-machine-learning-3-predictions-by-51-ml-marketing-executives).  This thought seem evident especially with Amazon, who announced on May 14, 2017 of there efforts to building an online tailor with machine learning. The purpose of that effort is help cut back on customer returns of apparel that doesn't fit (http://www.bizjournals.com/seattle/news/2017/05/16/amazon-is-building-an-online-tailor.html).
        
>My work on project is considered an introductory piece to this hot topic and can defintily be developed further into more complex algoritms to fit a wide array of purchase predictions across a wide array of industries. I chose random forest due to hit robustness and the opportunity to learn one algorithm well enough as a springboard to learn others.

># Problem Statement

>For the purposes of this project,  we will try to answer the following questions predicting
customer purchases using the Random Forest algorithm as follows: 
    
>1. Given the transactional history of a customer, predict the next product that customer may purchase.
>2. Is possible to improve prediction accuracy of customer purchases by increasing the number of trees without overfitting?

># Background Discussion: The Random Forest Algorithm 

>Random Forest is a machine learning algorithm used for classsification, regression, and feature selection. The algorithm basically combines the predictions of mutiple decision trees by averaging decision tree output. It also ranks an individual tree's output, by comparing it to the known output from the training data, which allows it to rank features. With Random Forest, some of the decision trees will perform better. Therefore, the features wihtin those trees will be deemed more important. A Random Forest generalizes well will have a higher accuracy by each tree, and higher diversity among its trees.  For instance, a decision tree constructed baed on a small sample might be not be generalizable to future, large samples. To overcome this,mulitple decision trees could be constructed, by randomizing the combination and order of variables used. The aggregated result from these forest of trees would form an ensemble, known as random forest.

># Methods/Procedure

> In this project, I am going to train a Random Forest algorithm to predicate the next customer's purchase using dataset downloaded from Tableau webset.  To this, I will disucuss each piece as follows
    
>* Import the Modules
>* Import and review the dataset
>* How do the results above contrast with the results from applying the same analyses to data from June, 2001? June, 2002?


>#### Import Modules

>First, I will will import scikit-learn, pandas, numPy, and sciPy modules needed for this effort

In [4]:
# import required modules
%matplotlib inline
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.cross_validation import cross_val_score
# The error metric using c-stat (aka roc/auc)
from sklearn.metrics import roc_auc_score


>## Data

>The dataset contains information on transaction level data from customers. The transactional data shows  what the customer ended up buying. The first sheet show transactional purchase data for customers

In [5]:
trans_data = pd.read_excel("/home/x7/Desktop/projxdata/01_superstore_data__trans_cg7.xlsx", sheetname=0)

In [6]:
trans_data.head()

,1,Aaron Bergman,117,765,1145,413,1392,1432,0,0.1,...,0.34,0.35,0.36,0.37,0.38,0.39,0.40,0.41,0.42,0.43
0,2,Aaron Hawkins,1501,69,908,544,716,1604,220,662,...,0,0,0,0,0,0,0,0,0,0
1,3,Aaron Smayling,1752,790,169,429,178,266,275,1797,...,0,0,0,0,0,0,0,0,0,0
2,4,Adam Bellavance,1660,876,612,894,77,1371,1670,50,...,0,0,0,0,0,0,0,0,0,0
3,5,Adam Hart,1264,1202,1308,1203,131,682,1817,1615,...,0,0,0,0,0,0,0,0,0,0
4,6,Adam Shillingsburg,466,405,254,1197,290,327,317,2,...,0,0,0,0,0,0,0,0,0,0

In [7]:
trans_data.describe()

,1,117,765,1145,413,1392,1432,0,0.1,0.2,...,0.34,0.35,0.36,0.37,0.38,0.39,0.40,0.41,0.42,0.43
count,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,...,792,792,792,792,792,792,792,792,792,792
mean,397.500000,923.811869,904.526515,889.626263,889.334596,872.974747,799.689394,777.762626,724.039141,699.261364,...,0,0,0,0,0,0,0,0,0,0
std,228.774999,524.380577,538.338744,534.790621,552.725346,572.611366,580.984949,590.484949,609.678595,608.107793,...,0,0,0,0,0,0,0,0,0,0
min,2.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
25%,199.750000,487.500000,441.750000,439.250000,428.500000,361.000000,256.750000,201.000000,69.750000,0.000000,...,0,0,0,0,0,0,0,0,0,0
50%,397.500000,901.500000,897.500000,846.500000,866.000000,865.000000,759.500000,753.500000,676.000000,692.000000,...,0,0,0,0,0,0,0,0,0,0
75%,595.250000,1378.250000,1376.500000,1345.250000,1380.250000,1410.000000,1304.250000,1287.250000,1276.750000,1222.250000,...,0,0,0,0,0,0,0,0,0,0
max,793.000000,1848.000000,1850.000000,1850.000000,1850.000000,1848.000000,1850.000000,1842.000000,1850.000000,1850.000000,...,0,0,0,0,0,0,0,0,0,0

The following definitions for each of these fields. 

<dl class="dl-horizontal">
<dt>Row_ID</dt>
<dd>Row identification for transaction</dd>
<dt>Order_ID</dt>
<dd>Number representing the receipt number</dd>
<dt>Order_Date</dt>
<dd>The date the customer made the purchase</dd>
<dt>Ship_Date</dt>
<dd>The date the order was shipped to the customer if the purchase was made over the phone or online</dd>
<dt>Ship_Mode_ID</dt>
<dd>Unique number representating the ship mode type</dd>
<dt>Ship_Mode</dt>
<dd>The ship mode description</dd>
<dt>Customer_ID2</dt>
<dd>Unique number assigned by the store to identify the customer. This number was not used in processing the random forest for simiplicity purposes and was replaced by the Customer_ID field for algorithm use.</dd>
<dt>Customer_ID</dt>
<dd>Uniqued to identify the customer for purposes of applying random forest algorithm</dd>
<dt>Gender</dt>
<dd>Unique indicator to indicate gender of customer</dd>
<dt>Customer_Number</dt>
<dd>Customers first and last name</dd>
<dt>Segment _ID</dt>
<dd>Represents the id number of the customer segment type</dd>
<dt>Segment</dt>
<dd>Text representing the description of the segment type</dd>
<dt>City_ID</dt>
<dd>Unique number representing the city</dd>
</dl>



For the purposes of the specific questions stated at the top of this notebook, we only need a subset of the available columns, namely delay metrics, origin and destination states, and the flight date. We'll ignore the other fields.

In [8]:
trans_data

,1,Aaron Bergman,117,765,1145,413,1392,1432,0,0.1,...,0.34,0.35,0.36,0.37,0.38,0.39,0.40,0.41,0.42,0.43
0,2,Aaron Hawkins,1501,69,908,544,716,1604,220,662,...,0,0,0,0,0,0,0,0,0,0
1,3,Aaron Smayling,1752,790,169,429,178,266,275,1797,...,0,0,0,0,0,0,0,0,0,0
2,4,Adam Bellavance,1660,876,612,894,77,1371,1670,50,...,0,0,0,0,0,0,0,0,0,0
3,5,Adam Hart,1264,1202,1308,1203,131,682,1817,1615,...,0,0,0,0,0,0,0,0,0,0
4,6,Adam Shillingsburg,466,405,254,1197,290,327,317,2,...,0,0,0,0,0,0,0,0,0,0
5,7,Adrian Barton,195,898,1038,777,1541,266,656,400,...,0,0,0,0,0,0,0,0,0,0
6,8,Adrian Hane,1195,966,1609,1125,338,1473,909,273,...,0,0,0,0,0,0,0,0,0,0
7,9,Adrian Shami,577,265,1688,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,10,Aimee Bixby,1161,1022,77,722,1681,1748,1793,1605,...,0,0,0,0,0,0,0,0,0,0
9,11,Alan Barnes,1385,914,1774,307,1508,717,1557,673,...,0,0,0,0,0,0,0,0,0,0
10,12,Alan Dominguez,10,744,569,459,394,113,780,1558,...,0,0,0,0,0,0,0,0,0,0
11,13,Alan Haines,1457,18,718,40,1307,535,68,266,...,0,0,0,0,0,0,0,0,0,0
12,14,Alan Hwang,1653,1507,1096,1315,241,518,1487,782,...,0,0,0,0,0,0,0,0,0,0
13,15,Alan Schoenberger,776,176,773,593,1615,260,57,781,...,0,0,0,0,0,0,0,0,0,0
14,16,Alan Shonely,866,566,929,719,1678,3,1148,608,...,0,0,0,0,0,0,0,0,0,0
15,17,Alejandro Ballentine,475,1704,1088,1605,1083,114,451,535,...,0,0,0,0,0,0,0,0,0,0
16,18,Alejandro Grove,661,417,710,1361,198,344,598,1567,...,0,0,0,0,0,0,0,0,0,0
17,19,Alejandro Savely,1313,1475,1482,1493,1534,139,278,602,...,0,0,0,0,0,0,0,0,0,0
18,20,Aleksandra Gannaway,319,56,858,1220,1312,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,21,Alex Avila,681,633,538,1056,1545,806,41,1299,...,0,0,0,0,0,0,0,0,0,0
20,22,Alex Grayson,1589,1472,941,1829,1123,979,1725,408,...,0,0,0,0,0,0,0,0,0,0
21,23,Alex Russell,449,827,743,1076,540,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,24,Alice McCarthy,720,1571,1011,1268,1477,881,391,27,...,0,0,0,0,0,0,0,0,0,0
23,25,Allen Armold,70,264,458,959,1135,1301,1513,1004,...,0,0,0,0,0,0,0,0,0,0
24,26,Allen Goldenen,688,1837,225,1478,35,266,1159,452,...,0,0,0,0,0,0,0,0,0,0
25,27,Allen Rosenblatt,316,747,1096,1493,1738,1467,1188,0,...,0,0,0,0,0,0,0,0,0,0
26,28,Alyssa Crouse,1585,827,1341,636,1640,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,29,Alyssa Tate,46,1506,697,912,498,1131,1127,310,...,0,0,0,0,0,0,0,0,0,0
28,30,Amy Cox,1280,307,1519,780,67,233,897,687,...,0,0,0,0,0,0,0,0,0,0
29,31,Amy Hunt,600,1130,1226,79,829,208,775,1843,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762,764,Tony Molinari,1111,1563,1178,848,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
763,765,Tony Sayre,858,1372,1621,863,575,1377,1042,1639,...,0,0,0,0,0,0,0,0,0,0
764,766,Tracy Blumstein,711,417,663,847,636,1358,266,875,...,0,0,0,0,0,0,0,0,0,0
765,767,Tracy Collins,1306,1661,616,1431,784,1008,779,641,...,0,0,0,0,0,0,0,0,0,0
766,768,Tracy Hopkins,539,1329,295,873,1298,751,132,676,...,0,0,0,0,0,0,0,0,0,0
767,769,Tracy Poddar,941,566,1445,1193,1480,749,532,1676,...,0,0,0,0,0,0,0,0,0,0
768,770,Tracy Zic,322,1396,737,253,577,153,1084,42,...,0,0,0,0,0,0,0,0,0,0
769,771,Troy Blackwell,489,1794,1235,379,448,758,730,0,...,0,0,0,0,0,0,0,0,0,0
770,772,Troy Staebel,424,404,1381,572,842,1660,538,718,...,0,0,0,0,0,0,0,0,0,0
771,773,Trudy Brown,1013,54,1268,355,277,572,1169,1713,...,0,0,0,0,0,0,0,0,0,0
772,774,Trudy Glocke,761,900,332,1040,517,1266,1348,90,...,0,0,0,0,0,0,0,0,0,0
773,775,Trudy Schmidt,1596,1085,1559,1138,286,1141,1330,874,...,0,0,0,0,0,0,0,0,0,0
774,776,Valerie Dominguez,865,1728,1143,1243,1391,905,763,765,...,0,0,0,0,0,0,0,0,0,0
775,777,Valerie Mitchum,1830,1335,1409,371,1177,1493,1310,1817,...,0,0,0,0,0,0,0,0,0,0
776,778,Valerie Takahito,1365,334,644,411,1536,478,1486,485,...,0,0,0,0,0,0,0,0,0,0
777,779,Vicky Freymann,1181,338,1762,80,1167,1148,1052,719,...,0,0,0,0,0,0,0,0,0,0
778,780,Victor Preis,534,1586,934,1234,648,0,0,0,...,0,0,0,0,0,0,0,0,0,0
779,781,Victoria Brennan,186,115,1707,707,1546,1539,615,293,...,0,0,0,0,0,0,0,0,0,0
780,782,Victoria Pisteka,570,227,658,1745,1336,1561,1181,910,...,0,0,0,0,0,0,0,0,0,0
781,783,Victoria Wilson,842,1061,110,215,1216,1486,428,1471,...,0,0,0,0,0,0,0,0,0,0
782,784,Vivek Gonzalez,1217,561,1248,1154,82,445,193,391,...,0,0,0,0,0,0,0,0,0,0
783,785,Vivek Grady,1377,926,1360,333,1020,528,0,0,...,0,0,0,0,0,0,0,0,0,0
784,786,Vivek Sundaresam,876,48,756,249,1844,1132,174,980,...,0,0,0,0,0,0,0,0,0,0
785,787,Vivian Mathis,252,1285,47,1082,1502,714,1607,1507,...,0,0,0,0,0,0,0,0,0,0
786,788,William Brown,1296,318,404,1802,803,554,304,1003,...,0,0,0,0,0,0,0,0,0,0
787,789,Xylona Preis,574,560,58,815,637,1239,1595,1519,...,0,0,0,0,0,0,0,0,0,0
788,790,Yana Sorensen,533,1623,318,1526,1617,773,894,29,...,0,0,0,0,0,0,0,0,0,0
789,791,Yoseph Carroll,1461,562,512,92,797,106,160,1558,...,0,0,0,0,0,0,0,0,0,0
790,792,Zuschuss Carroll,1133,315,297,1467,1541,1273,830,1377,...,0,0,0,0,0,0,0,0,0,0
791,793,Zuschuss Donatelli,1157,434,1643,1447,1285,577,939,1714,...,0,0,0,0,0,0,0,0,0,0

In [9]:
trans_data.shape

(792, 52)

In [10]:
trans_prod = pd.read_excel("/home/x7/Desktop/projxdata/01_superstore_data__trans_prod_cg4.xlsx", sheetname=0)
trans_prod.columns = ["Prod_ID", "Prod_Descrip"]
trans_prod['n'] = 1
trans_prod.head()

   Prod_ID                                       Prod_Descrip  n
0        1  "While you Were Out" Message Book, One Form pe...  1
1        2            #10- 4 1/8" x 9 1/2" Recycled Envelopes  1
2        3       #10- 4 1/8" x 9 1/2" Security-Tint Envelopes  1
3        4           #10 Gummed Flap White Envelopes, 100/Box  1
4        5                      #10 Self-Seal White Envelopes  1

In [11]:
trans_prod

      Prod_ID                                       Prod_Descrip  n
0           1  "While you Were Out" Message Book, One Form pe...  1
1           2            #10- 4 1/8" x 9 1/2" Recycled Envelopes  1
2           3       #10- 4 1/8" x 9 1/2" Security-Tint Envelopes  1
3           4           #10 Gummed Flap White Envelopes, 100/Box  1
4           5                      #10 Self-Seal White Envelopes  1
5           6         #10 White Business Envelopes,4 1/8 x 9 1/2  1
6           7  #10-4 1/8" x 9 1/2" Premium Diagonal Seam Enve...  1
7           8                 #6 3/4 Gummed Flap White Envelopes  1
8           9  1.7 Cubic Foot Compact "Cube" Office Refrigera...  1
9          10  1/4 Fold Party Design Invitations & White Enve...  1
10         11                           12 Colored Short Pencils  1
11         12                   12-1/2 Diameter Round Wall Clock  1
12         13       14-7/8 x 11 Blue Bar Computer Printout Paper  1
13         14     2300 Heavy-Duty Transfer File Systems by Perma  1
14         15          24 Capacity Maxi Data Binder Racks, Pearl  1
15         16                           24-Hour Round Wall Clock  1
16         17  3.6 Cubic Foot Counter Height Office Refrigerator  1
17         18                           36X48 HARDFLOOR CHAIRMAT  1
18         19   3D Systems Cube Printer, 2nd Generation, Magenta  1
19         20     3D Systems Cube Printer, 2nd Generation, White  1
20         21                   3M Hangers With Command Adhesive  1
21         22                              3M Office Air Cleaner  1
22         23                                3M Organizer Strips  1
23         24                 3M Polarizing Light Filter Sleeves  1
24         25  3M Polarizing Task Lamp with Clamp Arm, Light ...  1
25         26  3M Replacement Filter for Office Air Cleaner f...  1
26         27                                 3-ring staple pack  1
27         28                                  4009 Highlighters  1
28         29                       4009 Highlighters by Sanford  1
29         30                            50 Colored Long Pencils  1
...       ...                                                ... ..
1820     1821                                          Xerox 218  1
1821     1822                                          Xerox 219  1
1822     1823                                           Xerox 22  1
1823     1824                                          Xerox 220  1
1824     1825                                          Xerox 221  1
1825     1826                                          Xerox 222  1
1826     1827                                          Xerox 223  1
1827     1828                                          Xerox 224  1
1828     1829                                          Xerox 225  1
1829     1830                                          Xerox 226  1
1830     1831                                          Xerox 227  1
1831     1832                                          Xerox 228  1
1832     1833                                          Xerox 229  1
1833     1834                                           Xerox 23  1
1834     1835                                          Xerox 230  1
1835     1836                                          Xerox 231  1
1836     1837                                          Xerox 232  1
1837     1838  Xerox 4200 Series MultiUse Premium Copy Paper ...  1
1838     1839                         Xerox Blank Computer Paper  1
1839     1840          Xerox Color Copier Paper, 11" x 17", Ream  1
1840     1841  Xerox WorkCentre 6505DN Laser Multifunction Pr...  1
1841     1842                                         Xiaomi Mi3  1
1842     1843                    X-Rack File for Hanging Folders  1
1843     1844   XtraLife ClearVue Slant-D Ring Binder, White, 3"  1
1844     1845  XtraLife ClearVue Slant-D Ring Binders by Card...  1
1845     1846  Zebra GK420t Direct Thermal/Thermal Transfer P...  1
1846     1847  Zebra GX420t Direct Thermal/Thermal Transfer P...  1
1847     1848              Zebra Zazzle Fluorescent Highlighters  1
1848     1849                  Zebra ZM400 Thermal Label Printer  1
1849     1850                         Zipper Ring Binder Pockets  1

[1850 rows x 3 columns]

In [12]:
# join the product and transactions table
df = pd.merge(trans_data, trans_prod)
# create a "pivot table" which will give us the number of times each customer bought product
matrix = df.pivot_table(index=['Customer_ID','Customer_Name','Gender', 'Prod_ID','Order_Date','Sales'],values='n');
# a little tidying up. fill NA values with 0 and make the index into a column
matrix = matrix.fillna(0).reset_index()
# save a list of the 0/1 columns. we'll use these a bit later
x_cols = matrix.columns[1:]

In [13]:
matrix

      Customer_ID       Customer_Name Gender  Prod_ID Order_Date     Sales  n
0               1       Aaron Bergman      M      117 2013-02-18    12.624  1
1               1       Aaron Bergman      M      413 2013-03-07   242.940  1
2               1       Aaron Bergman      M      765 2013-03-07    48.712  1
3               1       Aaron Bergman      M     1145 2013-03-07    17.940  1
4               1       Aaron Bergman      M     1392 2015-11-11   221.980  1
5               1       Aaron Bergman      M     1432 2015-11-11   341.960  1
6               2       Aaron Hawkins      M       69 2013-04-22     9.912  1
7               2       Aaron Hawkins      M      220 2013-12-31    18.900  1
8               2       Aaron Hawkins      M      245 2016-12-18    18.704  1
9               2       Aaron Hawkins      M      544 2013-05-13     8.000  1
10              2       Aaron Hawkins      M      579 2015-03-21    86.450  1
11              2       Aaron Hawkins      M      662 2014-12-27   323.100  1
12              2       Aaron Hawkins      M      716 2013-10-25    49.408  1
13              2       Aaron Hawkins      M      733 2014-12-27   668.160  1
14              2       Aaron Hawkins      M      908 2013-05-13   279.456  1
15              2       Aaron Hawkins      M     1501 2013-04-22   247.840  1
16              2       Aaron Hawkins      M     1604 2013-12-31    34.770  1
17              3      Aaron Smayling      M      169 2015-09-26   477.666  1
18              3      Aaron Smayling      M      178 2016-01-03    15.660  1
19              3      Aaron Smayling      M      266 2016-01-03    28.854  1
20              3      Aaron Smayling      M      270 2016-09-04    88.074  1
21              3      Aaron Smayling      M      275 2016-08-01  1439.982  1
22              3      Aaron Smayling      M      429 2016-01-03   695.700  1
23              3      Aaron Smayling      M      790 2015-03-29    31.400  1
24              3      Aaron Smayling      M      980 2016-10-03   171.288  1
25              3      Aaron Smayling      M     1752 2013-07-27    65.780  1
26              3      Aaron Smayling      M     1797 2016-08-01    36.288  1
27              4     Adam Bellavance      M       50 2015-09-02     3.048  1
28              4     Adam Bellavance      M       77 2015-08-30    27.930  1
29              4     Adam Bellavance      M      130 2016-11-05     4.410  1
...           ...                 ...    ...      ...        ...       ... ..
9963          792    Zuschuss Carroll      M      684 2015-04-09  1088.792  1
9964          792    Zuschuss Carroll      M      738 2014-04-25   128.058  1
9965          792    Zuschuss Carroll      M      739 2015-04-09    95.984  1
9966          792    Zuschuss Carroll      M      816 2016-06-19     2.264  1
9967          792    Zuschuss Carroll      M      830 2014-04-13   710.832  1
9968          792    Zuschuss Carroll      M      842 2014-09-13  1516.200  1
9969          792    Zuschuss Carroll      M      861 2016-06-19     0.444  1
9970          792    Zuschuss Carroll      M      893 2015-03-21    84.784  1
9971          792    Zuschuss Carroll      M      958 2015-04-09   431.928  1
9972          792    Zuschuss Carroll      M     1133 2013-10-13    11.520  1
9973          792    Zuschuss Carroll      M     1239 2016-05-11    43.920  1
9974          792    Zuschuss Carroll      M     1273 2014-04-13   199.960  1
9975          792    Zuschuss Carroll      M     1377 2014-04-25   221.024  1
9976          792    Zuschuss Carroll      M     1417 2016-11-06     5.680  1
9977          792    Zuschuss Carroll      M     1467 2013-10-13    25.780  1
9978          792    Zuschuss Carroll      M     1507 2014-09-28     4.512  1
9979          792    Zuschuss Carroll      M     1541 2013-12-29    38.976  1
9980          792    Zuschuss Carroll      M     1639 2014-09-28     1.080  1
9981          792    Zuschuss Carroll      M     1684 2015-03-21    10.368  1
9982          792    Zuschuss Carroll      M     1780 2016-06-19   146.176  1
9983          792    Zuschuss Carroll      M     1829 2015-03-21    20.736  1
9984          793  Zuschuss Donatelli      M      434 2013-08-27   213.480  1
9985          793  Zuschuss Donatelli      M      577 2015-05-06    16.720  1
9986          793  Zuschuss Donatelli      M      939 2015-07-09   823.960  1
9987          793  Zuschuss Donatelli      M      950 2016-06-11    61.440  1
9988          793  Zuschuss Donatelli      M     1157 2013-08-27     8.560  1
9989          793  Zuschuss Donatelli      M     1285 2015-04-04   259.960  1
9990          793  Zuschuss Donatelli      M     1447 2015-04-04    71.120  1
9991          793  Zuschuss Donatelli      M     1643 2013-08-27    22.720  1
9992          793  Zuschuss Donatelli      M     1714 2015-07-09    15.984  1

[9993 rows x 7 columns]

In [66]:
matrix2 = matrix['Data_lagged'] = matrix.groupby(['Customer_ID'])['Prod_ID'].shift(1)

In [67]:
vv= pd.concat([matrix,matrix2])

In [68]:
vv

,0,Customer_ID,Customer_Name,Data_lagged,Gender,Order_Date,Prod_ID,Sales,n
0,NaN,1,Aaron Bergman,NaN,M,2013-02-18,117,12.624,1
1,NaN,1,Aaron Bergman,117,M,2013-03-07,413,242.940,1
2,NaN,1,Aaron Bergman,413,M,2013-03-07,765,48.712,1
3,NaN,1,Aaron Bergman,765,M,2013-03-07,1145,17.940,1
4,NaN,1,Aaron Bergman,1145,M,2015-11-11,1392,221.980,1
5,NaN,1,Aaron Bergman,1392,M,2015-11-11,1432,341.960,1
6,NaN,2,Aaron Hawkins,NaN,M,2013-04-22,69,9.912,1
7,NaN,2,Aaron Hawkins,69,M,2013-12-31,220,18.900,1
8,NaN,2,Aaron Hawkins,220,M,2016-12-18,245,18.704,1
9,NaN,2,Aaron Hawkins,245,M,2013-05-13,544,8.000,1
10,NaN,2,Aaron Hawkins,544,M,2015-03-21,579,86.450,1
11,NaN,2,Aaron Hawkins,579,M,2014-12-27,662,323.100,1
12,NaN,2,Aaron Hawkins,662,M,2013-10-25,716,49.408,1
13,NaN,2,Aaron Hawkins,716,M,2014-12-27,733,668.160,1
14,NaN,2,Aaron Hawkins,733,M,2013-05-13,908,279.456,1
15,NaN,2,Aaron Hawkins,908,M,2013-04-22,1501,247.840,1
16,NaN,2,Aaron Hawkins,1501,M,2013-12-31,1604,34.770,1
17,NaN,3,Aaron Smayling,NaN,M,2015-09-26,169,477.666,1
18,NaN,3,Aaron Smayling,169,M,2016-01-03,178,15.660,1
19,NaN,3,Aaron Smayling,178,M,2016-01-03,266,28.854,1
20,NaN,3,Aaron Smayling,266,M,2016-09-04,270,88.074,1
21,NaN,3,Aaron Smayling,270,M,2016-08-01,275,1439.982,1
22,NaN,3,Aaron Smayling,275,M,2016-01-03,429,695.700,1
23,NaN,3,Aaron Smayling,429,M,2015-03-29,790,31.400,1
24,NaN,3,Aaron Smayling,790,M,2016-10-03,980,171.288,1
25,NaN,3,Aaron Smayling,980,M,2013-07-27,1752,65.780,1
26,NaN,3,Aaron Smayling,1752,M,2016-08-01,1797,36.288,1
27,NaN,4,Adam Bellavance,NaN,M,2015-09-02,50,3.048,1
28,NaN,4,Adam Bellavance,50,M,2015-08-30,77,27.930,1
29,NaN,4,Adam Bellavance,77,M,2016-11-05,130,4.410,1
...,...,...,...,...,...,...,...,...,...
9963,504,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9964,684,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9965,738,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9966,739,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9967,816,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9968,830,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9969,842,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9970,861,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9971,893,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9972,958,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9973,1133,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9974,1239,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9975,1273,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9976,1377,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9977,1417,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9978,1467,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9979,1507,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9980,1541,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9981,1639,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9982,1684,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9983,1780,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9984,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9985,434,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9986,577,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9987,939,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9988,950,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9989,1157,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9990,1285,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9991,1447,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
9992,1643,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [49]:
gg= pd.concat([matrix, matrix.shift(), matrix.shift(2)], axis=4)

In [50]:
gg

,Customer_ID,Customer_Name,Gender,Prod_ID,Order_Date,Sales,n,Data_lagged,Customer_ID,Customer_Name,...,n,Data_lagged,Customer_ID,Customer_Name,Gender,Prod_ID,Order_Date,Sales,n,Data_lagged
0,1,Aaron Bergman,M,117,2013-02-18,12.624,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,1,Aaron Bergman,M,413,2013-03-07,242.940,1,NaN,1,Aaron Bergman,...,1,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,1,Aaron Bergman,M,765,2013-03-07,48.712,1,NaN,1,Aaron Bergman,...,1,NaN,1,Aaron Bergman,M,117,2013-02-18,12.624,1,NaN
3,1,Aaron Bergman,M,1145,2013-03-07,17.940,1,117,1,Aaron Bergman,...,1,NaN,1,Aaron Bergman,M,413,2013-03-07,242.940,1,NaN
4,1,Aaron Bergman,M,1392,2015-11-11,221.980,1,413,1,Aaron Bergman,...,1,117,1,Aaron Bergman,M,765,2013-03-07,48.712,1,NaN
5,1,Aaron Bergman,M,1432,2015-11-11,341.960,1,765,1,Aaron Bergman,...,1,413,1,Aaron Bergman,M,1145,2013-03-07,17.940,1,117
6,2,Aaron Hawkins,M,69,2013-04-22,9.912,1,1145,1,Aaron Bergman,...,1,765,1,Aaron Bergman,M,1392,2015-11-11,221.980,1,413
7,2,Aaron Hawkins,M,220,2013-12-31,18.900,1,1392,2,Aaron Hawkins,...,1,1145,1,Aaron Bergman,M,1432,2015-11-11,341.960,1,765
8,2,Aaron Hawkins,M,245,2016-12-18,18.704,1,NaN,2,Aaron Hawkins,...,1,1392,2,Aaron Hawkins,M,69,2013-04-22,9.912,1,1145
9,2,Aaron Hawkins,M,544,2013-05-13,8.000,1,69,2,Aaron Hawkins,...,1,NaN,2,Aaron Hawkins,M,220,2013-12-31,18.900,1,1392
10,2,Aaron Hawkins,M,579,2015-03-21,86.450,1,220,2,Aaron Hawkins,...,1,69,2,Aaron Hawkins,M,245,2016-12-18,18.704,1,NaN
11,2,Aaron Hawkins,M,662,2014-12-27,323.100,1,245,2,Aaron Hawkins,...,1,220,2,Aaron Hawkins,M,544,2013-05-13,8.000,1,69
12,2,Aaron Hawkins,M,716,2013-10-25,49.408,1,544,2,Aaron Hawkins,...,1,245,2,Aaron Hawkins,M,579,2015-03-21,86.450,1,220
13,2,Aaron Hawkins,M,733,2014-12-27,668.160,1,579,2,Aaron Hawkins,...,1,544,2,Aaron Hawkins,M,662,2014-12-27,323.100,1,245
14,2,Aaron Hawkins,M,908,2013-05-13,279.456,1,662,2,Aaron Hawkins,...,1,579,2,Aaron Hawkins,M,716,2013-10-25,49.408,1,544
15,2,Aaron Hawkins,M,1501,2013-04-22,247.840,1,716,2,Aaron Hawkins,...,1,662,2,Aaron Hawkins,M,733,2014-12-27,668.160,1,579
16,2,Aaron Hawkins,M,1604,2013-12-31,34.770,1,733,2,Aaron Hawkins,...,1,716,2,Aaron Hawkins,M,908,2013-05-13,279.456,1,662
17,3,Aaron Smayling,M,169,2015-09-26,477.666,1,908,2,Aaron Hawkins,...,1,733,2,Aaron Hawkins,M,1501,2013-04-22,247.840,1,716
18,3,Aaron Smayling,M,178,2016-01-03,15.660,1,1501,3,Aaron Smayling,...,1,908,2,Aaron Hawkins,M,1604,2013-12-31,34.770,1,733
19,3,Aaron Smayling,M,266,2016-01-03,28.854,1,NaN,3,Aaron Smayling,...,1,1501,3,Aaron Smayling,M,169,2015-09-26,477.666,1,908
20,3,Aaron Smayling,M,270,2016-09-04,88.074,1,169,3,Aaron Smayling,...,1,NaN,3,Aaron Smayling,M,178,2016-01-03,15.660,1,1501
21,3,Aaron Smayling,M,275,2016-08-01,1439.982,1,178,3,Aaron Smayling,...,1,169,3,Aaron Smayling,M,266,2016-01-03,28.854,1,NaN
22,3,Aaron Smayling,M,429,2016-01-03,695.700,1,266,3,Aaron Smayling,...,1,178,3,Aaron Smayling,M,270,2016-09-04,88.074,1,169
23,3,Aaron Smayling,M,790,2015-03-29,31.400,1,270,3,Aaron Smayling,...,1,266,3,Aaron Smayling,M,275,2016-08-01,1439.982,1,178
24,3,Aaron Smayling,M,980,2016-10-03,171.288,1,275,3,Aaron Smayling,...,1,270,3,Aaron Smayling,M,429,2016-01-03,695.700,1,266
25,3,Aaron Smayling,M,1752,2013-07-27,65.780,1,429,3,Aaron Smayling,...,1,275,3,Aaron Smayling,M,790,2015-03-29,31.400,1,270
26,3,Aaron Smayling,M,1797,2016-08-01,36.288,1,790,3,Aaron Smayling,...,1,429,3,Aaron Smayling,M,980,2016-10-03,171.288,1,275
27,4,Adam Bellavance,M,50,2015-09-02,3.048,1,980,3,Aaron Smayling,...,1,790,3,Aaron Smayling,M,1752,2013-07-27,65.780,1,429
28,4,Adam Bellavance,M,77,2015-08-30,27.930,1,1752,4,Adam Bellavance,...,1,980,3,Aaron Smayling,M,1797,2016-08-01,36.288,1,790
29,4,Adam Bellavance,M,130,2016-11-05,4.410,1,NaN,4,Adam Bellavance,...,1,1752,4,Adam Bellavance,M,50,2015-09-02,3.048,1,980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9963,792,Zuschuss Carroll,M,684,2015-04-09,1088.792,1,445,792,Zuschuss Carroll,...,1,442,792,Zuschuss Carroll,M,486,2016-11-06,8.730,1,417
9964,792,Zuschuss Carroll,M,738,2014-04-25,128.058,1,486,792,Zuschuss Carroll,...,1,445,792,Zuschuss Carroll,M,504,2015-03-09,102.360,1,442
9965,792,Zuschuss Carroll,M,739,2015-04-09,95.984,1,504,792,Zuschuss Carroll,...,1,486,792,Zuschuss Carroll,M,684,2015-04-09,1088.792,1,445
9966,792,Zuschuss Carroll,M,816,2016-06-19,2.264,1,684,792,Zuschuss Carroll,...,1,504,792,Zuschuss Carroll,M,738,2014-04-25,128.058,1,486
9967,792,Zuschuss Carroll,M,830,2014-04-13,710.832,1,738,792,Zuschuss Carroll,...,1,684,792,Zuschuss Carroll,M,739,2015-04-09,95.984,1,504
9968,792,Zuschuss Carroll,M,842,2014-09-13,1516.200,1,739,792,Zuschuss Carroll,...,1,738,792,Zuschuss Carroll,M,816,2016-06-19,2.264,1,684
9969,792,Zuschuss Carroll,M,861,2016-06-19,0.444,1,816,792,Zuschuss Carroll,...,1,739,792,Zuschuss Carroll,M,830,2014-04-13,710.832,1,738
9970,792,Zuschuss Carroll,M,893,2015-03-21,84.784,1,830,792,Zuschuss Carroll,...,1,816,792,Zuschuss Carroll,M,842,2014-09-13,1516.200,1,739
9971,792,Zuschuss Carroll,M,958,2015-04-09,431.928,1,842,792,Zuschuss Carroll,...,1,830,792,Zuschuss Carroll,M,861,2016-06-19,0.444,1,816
9972,792,Zuschuss Carroll,M,1133,2013-10-13,11.520,1,861,792,Zuschuss Carroll,...,1,842,792,Zuschuss Carroll,M,893,2015-03-21,84.784,1,830
9973,792,Zuschuss Carroll,M,1239,2016-05-11,43.920,1,893,792,Zuschuss Carroll,...,1,861,792,Zuschuss Carroll,M,958,2015-04-09,431.928,1,842
9974,792,Zuschuss Carroll,M,1273,2014-04-13,199.960,1,958,792,Zuschuss Carroll,...,1,893,792,Zuschuss Carroll,M,1133,2013-10-13,11.520,1,861
9975,792,Zuschuss Carroll,M,1377,2014-04-25,221.024,1,1133,792,Zuschuss Carroll,...,1,958,792,Zuschuss Carroll,M,1239,2016-05-11,43.920,1,893
9976,792,Zuschuss Carroll,M,1417,2016-11-06,5.680,1,1239,792,Zuschuss Carroll,...,1,1133,792,Zuschuss Carroll,M,1273,2014-04-13,199.960,1,958
9977,792,Zuschuss Carroll,M,1467,2013-10-13,25.780,1,1273,792,Zuschuss Carroll,...,1,1239,792,Zuschuss Carroll,M,1377,2014-04-25,221.024,1,1133
9978,792,Zuschuss Carroll,M,1507,2014-09-28,4.512,1,1377,792,Zuschuss Carroll,...,1,1273,792,Zuschuss Carroll,M,1417,2016-11-06,5.680,1,1239
9979,792,Zuschuss Carroll,M,1541,2013-12-29,38.976,1,1417,792,Zuschuss Carroll,...,1,1377,792,Zuschuss Carroll,M,1467,2013-10-13,25.780,1,1273
9980,792,Zuschuss Carroll,M,1639,2014-09-28,1.080,1,1467,792,Zuschuss Carroll,...,1,1417,792,Zuschuss Carroll,M,1507,2014-09-28,4.512,1,1377
9981,792,Zuschuss Carroll,M,1684,2015-03-21,10.368,1,1507,792,Zuschuss Carroll,...,1,1467,792,Zuschuss Carroll,M,1541,2013-12-29,38.976,1,1417
9982,792,Zuschuss Carroll,M,1780,2016-06-19,146.176,1,1541,792,Zuschuss Carroll,...,1,1507,792,Zuschuss Carroll,M,1639,2014-09-28,1.080,1,1467
9983,792,Zuschuss Carroll,M,1829,2015-03-21,20.736,1,1639,792,Zuschuss Carroll,...,1,1541,792,Zuschuss Carroll,M,1684,2015-03-21,10.368,1,1507
9984,793,Zuschuss Donatelli,M,434,2013-08-27,213.480,1,1684,792,Zuschuss Carroll,...,1,1639,792,Zuschuss Carroll,M,1780,2016-06-19,146.176,1,1541
9985,793,Zuschuss Donatelli,M,577,2015-05-06,16.720,1,1780,793,Zuschuss Donatelli,...,1,1684,792,Zuschuss Carroll,M,1829,2015-03-21,20.736,1,1639
9986,793,Zuschuss Donatelli,M,939,2015-07-09,823.960,1,NaN,793,Zuschuss Donatelli,...,1,1780,793,Zuschuss Donatelli,M,434,2013-08-27,213.480,1,1684
9987,793,Zuschuss Donatelli,M,950,2016-06-11,61.440,1,434,793,Zuschuss Donatelli,...,1,NaN,793,Zuschuss Donatelli,M,577,2015-05-06,16.720,1,1780
9988,793,Zuschuss Donatelli,M,1157,2013-08-27,8.560,1,577,793,Zuschuss Donatelli,...,1,434,793,Zuschuss Donatelli,M,939,2015-07-09,823.960,1,NaN
9989,793,Zuschuss Donatelli,M,1285,2015-04-04,259.960,1,939,793,Zuschuss Donatelli,...,1,577,793,Zuschuss Donatelli,M,950,2016-06-11,61.440,1,434
9990,793,Zuschuss Donatelli,M,1447,2015-04-04,71.120,1,950,793,Zuschuss Donatelli,...,1,939,793,Zuschuss Donatelli,M,1157,2013-08-27,8.560,1,577
9991,793,Zuschuss Donatelli,M,1643,2013-08-27,22.720,1,1157,793,Zuschuss Donatelli,...,1,950,793,Zuschuss Donatelli,M,1285,2015-04-04,259.960,1,939
9992,793,Zuschuss Donatelli,M,1714,2015-07-09,15.984,1,1285,793,Zuschuss Donatelli,...,1,1157,793,Zuschuss Donatelli,M,1447,2015-04-04,71.120,1,950

In [15]:
num_variables = list(matrix.dtypes[matrix.dtypes !="object"].index)

In [16]:
matrix[num_variables].head()

   Customer_ID  Prod_ID Order_Date    Sales  n  Data_lagged
0            1      117 2013-02-18   12.624  1          NaN
1            1      413 2013-03-07  242.940  1          117
2            1      765 2013-03-07   48.712  1          413
3            1     1145 2013-03-07   17.940  1          765
4            1     1392 2015-11-11  221.980  1         1145

In [17]:
matrix[num_variables]

      Customer_ID  Prod_ID Order_Date     Sales  n  Data_lagged
0               1      117 2013-02-18    12.624  1          NaN
1               1      413 2013-03-07   242.940  1          117
2               1      765 2013-03-07    48.712  1          413
3               1     1145 2013-03-07    17.940  1          765
4               1     1392 2015-11-11   221.980  1         1145
5               1     1432 2015-11-11   341.960  1         1392
6               2       69 2013-04-22     9.912  1          NaN
7               2      220 2013-12-31    18.900  1           69
8               2      245 2016-12-18    18.704  1          220
9               2      544 2013-05-13     8.000  1          245
10              2      579 2015-03-21    86.450  1          544
11              2      662 2014-12-27   323.100  1          579
12              2      716 2013-10-25    49.408  1          662
13              2      733 2014-12-27   668.160  1          716
14              2      908 2013-05-13   279.456  1          733
15              2     1501 2013-04-22   247.840  1          908
16              2     1604 2013-12-31    34.770  1         1501
17              3      169 2015-09-26   477.666  1          NaN
18              3      178 2016-01-03    15.660  1          169
19              3      266 2016-01-03    28.854  1          178
20              3      270 2016-09-04    88.074  1          266
21              3      275 2016-08-01  1439.982  1          270
22              3      429 2016-01-03   695.700  1          275
23              3      790 2015-03-29    31.400  1          429
24              3      980 2016-10-03   171.288  1          790
25              3     1752 2013-07-27    65.780  1          980
26              3     1797 2016-08-01    36.288  1         1752
27              4       50 2015-09-02     3.048  1          NaN
28              4       77 2015-08-30    27.930  1           50
29              4      130 2016-11-05     4.410  1           77
...           ...      ...        ...       ... ..          ...
9963          792      684 2015-04-09  1088.792  1          504
9964          792      738 2014-04-25   128.058  1          684
9965          792      739 2015-04-09    95.984  1          738
9966          792      816 2016-06-19     2.264  1          739
9967          792      830 2014-04-13   710.832  1          816
9968          792      842 2014-09-13  1516.200  1          830
9969          792      861 2016-06-19     0.444  1          842
9970          792      893 2015-03-21    84.784  1          861
9971          792      958 2015-04-09   431.928  1          893
9972          792     1133 2013-10-13    11.520  1          958
9973          792     1239 2016-05-11    43.920  1         1133
9974          792     1273 2014-04-13   199.960  1         1239
9975          792     1377 2014-04-25   221.024  1         1273
9976          792     1417 2016-11-06     5.680  1         1377
9977          792     1467 2013-10-13    25.780  1         1417
9978          792     1507 2014-09-28     4.512  1         1467
9979          792     1541 2013-12-29    38.976  1         1507
9980          792     1639 2014-09-28     1.080  1         1541
9981          792     1684 2015-03-21    10.368  1         1639
9982          792     1780 2016-06-19   146.176  1         1684
9983          792     1829 2015-03-21    20.736  1         1780
9984          793      434 2013-08-27   213.480  1          NaN
9985          793      577 2015-05-06    16.720  1          434
9986          793      939 2015-07-09   823.960  1          577
9987          793      950 2016-06-11    61.440  1          939
9988          793     1157 2013-08-27     8.560  1          950
9989          793     1285 2015-04-04   259.960  1         1157
9990          793     1447 2015-04-04    71.120  1         1285
9991          793     1643 2013-08-27    22.720  1         1447
9992          793     1714 2015-07-09    15.984  1         1643

[9993 rows x 6 columns]

In [18]:
y = matrix[0:6]

In [19]:
matrix[7:16]

,Customer_ID,Customer_Name,Gender,Prod_ID,Order_Date,Sales,n,Data_lagged
7,2,Aaron Hawkins,M,220,2013-12-31,18.900,1,69
8,2,Aaron Hawkins,M,245,2016-12-18,18.704,1,220
9,2,Aaron Hawkins,M,544,2013-05-13,8.000,1,245
10,2,Aaron Hawkins,M,579,2015-03-21,86.450,1,544
11,2,Aaron Hawkins,M,662,2014-12-27,323.100,1,579
12,2,Aaron Hawkins,M,716,2013-10-25,49.408,1,662
13,2,Aaron Hawkins,M,733,2014-12-27,668.160,1,716
14,2,Aaron Hawkins,M,908,2013-05-13,279.456,1,733
15,2,Aaron Hawkins,M,1501,2013-04-22,247.840,1,908

In [20]:
model = RandomForestRegressor(n_estimators=100, oob_score='true', random_state=42)

In [21]:
model.fit(matrix[num_variables],y)

TypeError: float() argument must be a string or a number

In [ ]:
model.oob_score_

In [ ]:
y_oob = model.oob_prediction_
#Compute Area Under the Curve (AUC) from prediction scores
#print "c-stat: ", roc_auc_score(y,y_oob)
print "C-stat is:  ", roc_auc_score(y, y_oob)